* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: rgb(255, 255, 255);
}

.back-button {
  font-size: 15px;
  font-family: "Poppins";
  font-weight: 500;
  padding: 12px 30px;
  color: #ffffff;
  display: inline-block;
  white-space: nowrap;
  border: none;
  background: #ad88c6;
  transition: all 0.3s ease;
}
.container {
  background: #ffffff;
  max-width: 800px;
  margin: 60px auto;
  max-height: fit-content;
  box-shadow: 0 2px 20px rgba(0, 0, 0, 0.3);
}

.header {
  text-align: center;
  font-family: Cambria;
  color: #ffffff;
  background: #ad88c6;
  padding-top: 20px;
  padding-bottom: 20px;
}
.header h1 {
  margin-bottom: 5px;
  font-size: 25px;
}

.header p {
  font-size: 18px;
}

.img-area img {
  width: 20%;
  border: 5px solid rgb(163, 115, 167);
}

.main-content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto 300px;
  column-gap: 100px;
  row-gap: 30px;
  padding: 30px;
}

.main-content h2 {
  background: #ad88c6;
  padding: 10px;
  color: #ffffff;
  margin: 25px 0;
  font-size: 18px;
  font-family: sans-serif;
  border-radius: 0 25px 25px 0;
}

.main-content p {
  line-height: 2;
  font-family: "Cambria";
}

.main-content ul li {
  line-height: 2;
  margin-left: 15px;
  font-family: "Cambria";
}
.educ p {
  font-style: oblique;
}

.main-content div {
  border-bottom: 3px solid #ad88c6;
  padding-bottom: 5px;
}
